/* Navbar custom styles */
.navbar {
    background-color: #ffffff;
    border-bottom: 1px solid #e7e7e7;
    padding: 0.5rem 1rem;
}

.navbar-brand {
    font-weight: bold;
    color: #007bff;
}

.navbar-nav .nav-link {
    color: #555555;
    padding: 0.5rem 1rem;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

.navbar-nav .dropdown-menu {
    border-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-nav .dropdown-item:hover {
    background-color: #f8f9fa;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
}

.form-inline .form-control {
    border-radius: 0;
    margin-right: 0.5rem;
}

.form-inline .btn {
    border-radius: 0;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-collapse {
    flex-grow: 1;
    justify-content: space-between;
}

.nav-item {
    display: flex;
    align-items: center;
}

.mt-5 {
    margin-top: 3rem; /* Aggiungi un margine superiore di 3rem */
}

.card-header .card-title {
    margin-bottom: 0;
}

.card-body .ml-3 {
    margin-left: 1rem;
}

.card-body .d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-body .text-secondary {
    margin-top: 1rem;
}

.seller-order-card {
    margin-left: 2rem; /* Sposta leggermente verso il centro gli ordini dei seller */
}

.container h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.card {
    border-radius: 0.5rem;
}

.card-header {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.card-body {
    padding: 1.5rem;
}

.card-body p {
    margin-bottom: 0.5rem;
}

.card-body h6 {
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
}

.card-body .seller-order-card {
    background-color: #f8f9fa;
    border-radius: 0.5rem;
}

.card-body .seller-order-card .card-body {
    padding: 1rem;
}

.card-fixed-height {
    height: 300px; /* Imposta l'altezza fissa desiderata */
    display: flex;
    flex-direction: column;
}
.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.card-body .mt-auto {
    margin-top: auto;
}
/* Stile per il numero dell'ordine */
.order-number {
    font-size: 1.5rem; /* Aumenta la dimensione del testo */
    font-weight: bold;
    color: #1a1a1a; /* Colore coerente con il pulsante "Update Status" */
}

/* Stile per la linea di divisione */
.divider {
    border: 0;
    height: 2px; /* Aumenta l'altezza della linea */
    background: #1a1a1a; /* Colore coerente con il pulsante "Update Status" */
    margin: 1rem 0;
}