{% extends "base.html" %}

{% block title %}Your Cart{% endblock %}

{% block page_content %}
<div class="container">
    <h1>Your Cart</h1>
    
    {% if products %}
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in products %}
                    <tr>
                        <td>
                            <a href="{{ url_for('products.single_product', product_id=item.product.id) }}">
                                {{ item.product.name }}
                            </a>
                        </td>
                        <td>
                            <form method="post" action="{{ url_for('cart.update_cart') }}">
                                <input type="number" name="quantity" value="{{ item.quantity }}" min="1" class="form-control">
                                <input type="hidden" name="product_id" value="{{ item.product.id }}">
                        </td>
                        <td>{{ "{:.2f}".format(item.product.price) }}</td>
                        <td>{{ "{:.2f}".format(item.product.price * item.quantity) }}</td>
                        <td>
                            <div class="d-flex">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </form>
                            <form method="post" action="{{ url_for('cart.remove_from_cart') }}" onsubmit="confirmDeletion(event, this)">
                                <input type="hidden" name="product_id" value="{{ item.product.id }}">
                                <button type="submit" class="btn btn-danger">Remove</button>
                            </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <form method="post" action="{{ url_for('orders.checkout_shipping') }}">
            <button type="submit" class="btn btn-success">Proceed to Checkout</button>
        </form>
    {% else %}
        <p>Your cart is empty. <a href="{{ url_for('products.all_products') }}">Start shopping</a></p>
    {% endif %}
</div>

<script>
    function confirmDeletion(event, form) {
        event.preventDefault();
        if (confirm("Are you sure you want to remove it?")) {
            form.submit();
        }
    }
</script>
{% endblock %}