{% extends "base.html" %}
{% block title %}Order Details{% endblock %}
{% block page_content %}
<div class="container mt-5">
    <h1 class="mt-4">Order details</h1>
    
    <div class="card mb-4 shadow-sm">
        <h2>Seller: {{ store_order.seller.store_name }}</h2>
        

        <div class="card-body">
            <p><strong>Order #{{ store_order.order_id }}</strong></p>
            <p><strong>Status:</strong> {{ store_order.order_status }}</p>
            <p><strong>Placed on:</strong> {{ store_order.order.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</p>
            <p><strong>Total:</strong> {{ "{:.2f}".format(store_order.order.total) }}€</p>
            <h5 class="mt-4">Products Ordered:</h5>
            <ul class="list-group">
                {% for item in products_ordered %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{{ url_for('products.single_product', product_id=item.product.id) }}">
                        {{ item.product.name }}
                    </a>
                    <span>Quantity: {{ item.quantity }}</span>
                    <span>Price: {{ "{:.2f}".format(item.product.price) }}€</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}