{% extends "base.html" %}
{% block title %}Profilo di {{ user.first_name }} {{ user.last_name }}{% endblock %}
{% block page_content %}
<div class="profile-container">
    <h1>Profilo di {{ user.first_name }} {{ user.last_name }}</h1>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Nome:</strong> {{ user.first_name }} {{ user.last_name }}</p>
    <p><strong>Data di registrazione:</strong> {{ user.created_at.strftime('%d/%m/%Y') }}</p>
    <a href="{{ url_for('main.edit_profile') }}" class="btn btn-primary mt-3">Edit profile</a>
    {% if not is_seller %}
        <a href="{{ url_for('auth.add_user_type_seller') }}" class="btn btn-primary mt-3">Start selling</a>
    {% else %}
        <a href="{{ url_for('main.user_seller', user_id=user.id) }}" class="btn btn-primary mt-3" onclick="confirmSwitch(event)">Switch to seller mode</a>
    {% endif %}
</div>

<script>
    function confirmSwitch(event) {
        event.preventDefault();
        if (confirm("Are you sure you want to switch?")) {
            window.location.href = event.target.href;
        }
    }
</script>
{% endblock %}